<footer class="footer">
    <div class="footer__upper">
        <div class="footer__upper--league u-textBold">NBA</div>
        <div class="footer__upper--league">MLB</div>
        <div class="footer__upper--league">NCAAF</div>
    </div>
    <div class="footer__lower">
        <div class="footer__lower--arrow">

        </div>
        <div class="footer__lower--game-active">
            <div class="game-active__score">
                <div class="game-active__score--home"><span>Warriors</span> <span class="u-textBold">96</span></div>
                <div class="game-active__score--away"><span>Thunder</span> <span class="u-textBold">81</span></div>
                <div class="game-active__score--time"><span>7:34 4th TV: ESPN</span></div>
            </div>
            <div class="game-active__home">
                <span class="game-active__home--team">GSW</span>
                <div class="game-active__home--player">
                    <span>S. Curry, PG</span>
                    <span>23 points, 6 assists</span>
                </div>
            </div>
            <div class="game-active__away">
                <span class="game-active__away--team">OKC</span>
                <div class="game-active__away--player">
                    <span>K. Durant, SF</span>
                    <span>30 points, 9 rebounds</span>
                </div>
            </div>
        </div>
        <div class="footer__lower--other-games">
            <div class="footer__lower--game">
                <div class="game__score">
                    <div class="game__score--home"><span>CHI</span> <span class="u-textBold">56</span></div>
                    <div class="game__score--away"><span>BOS</span> <span class="u-textBold">54</span></div>
                    <div class="game__score--time"><span>6:33 3rd</span></div>
                </div>
            </div>
            <div class="footer__lower--game">
                <div class="game__score">
                    <div class="game__score--home"><span>ATL</span> <span class="u-textBold">26</span></div>
                    <div class="game__score--away"><span>MEM</span> <span class="u-textBold">24</span></div>
                    <div class="game__score--time"><span>12:00 2nd</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>
