<header class="header">
    <div class="nav" role="navigation">
        <nav class="nav__menu--left">
            <ul class="nav__list">
                <li class="nav__logo-box">
                    <img src="./images/FD_logo.png" alt="" class="nav__logo">
                </li>
                <li class="nav__item">Lobby</li>
                <li class="nav__item">Upcoming</li>
                <li class="nav__item">Live</li>
                <li class="nav__item">History</li>
            </ul>
        </nav>
        <nav class="nav__menu--right">
            <ul class="nav__list">
                <li class="nav__item">Help</li>
                <li class="nav__item">nbonaddio &darr;</li>
                <li class="nav__item">
                    <div class="funds">
                        <!-- <div class="funds__balance">
                            <span class="funds__number">$100000</span>
                            <span class="funds__heading">Balance</span>
                        </div> -->
                        <div class="funds__button">
                            <a href="#" class="btn funds__add">Add Funds</a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
