<div class="play">
    <div class="play__heading u-textBold">Play by Play</div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">96-81, GS</div>
    </div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">94-81, GS</div>
    </div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">94-81, GS</div>
    </div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">94-81, GS</div>
    </div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">94-81, GS</div>
    </div>
    <div class="player">
        <div class="player__img">
            <img src="http://fillmurray.com/g/100/100" alt="">
        </div>
        <div class="player__info">
            <div class="player__time">7:34 4th</div>
            <div class="player__play"><span class="u-textBold">Stephen Curry</span> make 13-foot jumper. Assisted by <span class="u-textBold">Draymond Green</span></div>
        </div>
        <div class="player__score u-textBold">94-81, GS</div>
    </div>
</div>
