<div class="scoreboard">
    <div class="score">
        <div class="score__home">
            <div class="score__home--team">
                <span>Golden State</span>
                <span class="u-textBold">Warriors</span>
            </div>
            <div class="score__home--number u-textBold">96</div>
        </div>
        <div class="score__time">
            <span class="u-textBold">7:34 4th</span>
            <span>Oracle Arena<br>Oakland, CA</span>
        </div>
        <div class="score__away">
            <div class="score__away--team">
                <span>Oklahoma City</span>
                <span class="u-textBold">Thunder</span>
            </div>
            <div class="score__away--number u-textBold">81</div>
        </div>
    </div>
    <div class="last-play">Last play: TV timeout. Go get a snack.</div>
    <div class="scoreboard-stats">
        <div class="scoreboard-stats__show">
            <span>Show: </span>
            <span class="u-textBold">Recent Shots &darr;</span>
        </div>
        <div class="scoreboard-stats__court-container">
            <div class="scoreboard-stats__home">
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">FG%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">FT%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">3P%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
            </div>
            <div class="scoreboard-stats__court">
                <img src="./images/court.png" alt="">
                <div class="shots__home">
                    <div class="shots__home--dot-1"></div>
                    <div class="shots__home--dot-2"></div>
                    <div class="shots__home--dot-3"></div>
                    <div class="shots__home--dot-4"></div>
                    <div class="shots__home--dot-5"></div>
                </div>
                <div class="shots__away">
                    <div class="shots__away--dot-1"></div>
                    <div class="shots__away--dot-2"></div>
                    <div class="shots__away--dot-3"></div>
                    <div class="shots__away--dot-4"></div>
                    <div class="shots__away--dot-5"></div>
                </div>
            </div>
            <div class="scoreboard-stats__away">
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">FG%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">FT%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
                <div class="scoreboard-stats__stat">
                    <span class="scoreboard-stats__heading">3P%</span>
                    <span class="scoreboard-stats__number">55.7%</span>
                </div>
            </div>
        </div>
