.scoreboard {
    background: white;
    height: 404px;
    border-radius: 7px;
}

.score {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 16px;
    &__home {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        color: #fdbb00;
        margin-right: 24px;
        &--team {
            span {
                text-transform: uppercase;
                display: block;
                font-size: 16px;
                line-height: 1.2;
            }
        }
        &--number {
            font-size: 64px;
            line-height: 1;

            &:after {
                content: '';
                display: inline-block;
                height: 64px;
                width: 1px;
                margin-left: 24px;
                background: #5f6b73;
                vertical-align: middle;
            }
        }
    }
    &__away {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        color: #0079c5;
        margin-left: 24px;
        &--team {
            span {
                text-align: right;
                text-transform: uppercase;
                display: block;
                font-size: 16px;
                line-height: 1.2;
            }
        }
        &--number {
            order: -1;
            font-size: 64px;
            line-height: 1;

            &:before {
                content: '';
                display: inline-block;
                height: 64px;
                width: 1px;
                margin-right: 24px;
                background: #5f6b73;
                vertical-align: middle;
            }
        }
    }
    &__time {
        display: inline-block;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-size: 14px;
            text-align: center;
            display: block;
            line-height: 1.4;
        }
    }
}

.last-play {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding: 4px 0;
    width: 100%;
    background: #f2f2f2;
}

.scoreboard-stats {
    &__show {
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        color: black;
        padding: 8px 0;
    }
    &__court-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 48px;
        span {
            display: block;
            text-align: center;
        }
    }
    &__stat {
        line-height: 1.1;
        padding: 12px 0;
    }
    &__stat:not(:last-child) {
        border-bottom: 2px solid #f2f2f2;
    }

    &__heading {
        font-size: 16px;
    }
    &__number {
        color: #fdbb00;
        font-size: 24px;
    }

    &__court {
        width: 388px;
        position: relative;
        img {
            max-width: 100%;
        }
    }
    &__away {
        .scoreboard-stats__number {
            color: #0079c5;
        }
    }
}

.shots {
    &__home {
        & > * {
            background: rgba(#fdbb00, 0.5);
            height: 14px;
            width: 14px;
            border-radius: 10px;
            z-index: 11;
        }
        &--dot-1 {
            position: absolute;
            top: 90px;
            left: 20px;
        }
        &--dot-2 {
            position: absolute;
            top: 80px;
            left: 30px;
        }
        &--dot-3 {
            position: absolute;
            top: 75px;
            left: 20px;
        }
        &--dot-4 {
            position: absolute;
            top: 100px;
            left: 120px;
        }
        &--dot-5 {
            position: absolute;
            top: 70px;
            left: 90px;
        }
    }
    &__away {
        & > * {
            background: rgba(#0079c5, 0.5);
            height: 14px;
            width: 14px;
            border-radius: 10px;
            z-index: 11;
        }
        &--dot-1 {
            position: absolute;
            top: 90px;
            right: 20px;
        }
        &--dot-2 {
            position: absolute;
            top: 80px;
            right: 30px;
        }
        &--dot-3 {
            position: absolute;
            top: 75px;
            right: 20px;
        }
        &--dot-4 {
            position: absolute;
            top: 100px;
            right: 120px;
        }
        &--dot-5 {
            position: absolute;
            top: 70px;
            right: 90px;
        }
    }
}
