body {
    background: #bcbcbc;
}

.main {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 108px;
}

.section-game {
    width: 760px;
    float: left;
    @media (max-width: 1092px) {
        margin: 0 auto;
        width: 90%;
    }
}

.section-scoring {
    width: 330px;
    float: left;
    @media (max-width: 1092px) {
        width: 90%;
        margin: 0 auto;
        margin-top: 24px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
